// Place all the styles related to the books controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card__imgframe{
    display: flex;  
    align-items: center; //縦方向を中央
    justify-content: center; //横方向を中央
    max-width: 100%;
	height: auto;
}

.card-title{
    font-size: 18px;
}

.imgframe{
    max-width: 100%;
	height: auto;
}

.card{
    max-width: 350px;
}

.search_btn{
    display: flex;
    display: inline;
    margin-left: 10px;
}
.seach-title{
    margin-left: 30px;
    margin-top: 10px;
    margin-bottom: 10px;
}

.container{
    margin-left: 50px;
}

.Google-seach{
    margin-left: 30px;
    margin-right: 30px;
}